.moka-checkout {
    width: 100% !important;
    max-width: 500px !important;
    min-width: 320px !important;
    background-color: #ffffff !important;
    margin: 0px auto !important;
    font-size: 14px !important;
    padding: 16px;
    font-family: -apple-system, blinkmacsystemfont, "segoe ui", helvetica, arial, sans-serif, "apple color emoji", "segoe ui emoji", "segoe ui symbol" !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    -webkit-font-smoothing: antialiased !important;
}

.moka-checkout * {
    box-sizing: border-box !important;
}

.moka-checkout-test-alert {
    text-align: center !important;
    margin-bottom: 16px !important;
    background: #fce386 !important;
    padding: 10px !important;
    border-radius: 6px !important;
}

.moka-checkout-form {
    display: flex !important;
    flex-wrap: wrap !important;
}

.moka-checkout-input-container {
    width: 100% !important;
    position: relative !important;
    z-index: 0 !important;
    border-width: initial !important;
    border-style: none !important;
    border-color: initial !important;
    border-image: initial !important;
    background: #ffffff !important;
    box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 1px 1.5px 0 rgba(0, 0, 0, 0.05) !important;
}

.moka-checkout-input-container--half {
    width: 50% !important;
}

.moka-checkout-border-radius--top-left {
    border-top-left-radius: 6px !important;
}

.moka-checkout-border-radius--top-right {
    border-top-right-radius: 6px !important;
}

.moka-checkout-border-radius--bottom-left {
    border-bottom-left-radius: 6px !important;
}

.moka-checkout-border-radius--bottom-right {
    border-bottom-right-radius: 6px !important;
}

.moka-checkout-input-icon {
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    right: auto !important;
    width: 35px !important;
    height: 100% !important;
    display: flex !important;
    -webkit-box-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: center !important;
    align-items: center !important;
}

.moka-checkout-input {
    height: 48px !important;
    width: 100% !important;
    color: #212529 !important;
    font-size: 14px !important;
    text-align: left !important;
    border-width: initial !important;
    border-style: none !important;
    border-color: initial !important;
    border-image: initial !important;
    background: transparent !important;
    padding: 0px 12px 0px 35px !important;
    outline: none !important;
    border-radius: 6px !important;
}

.moka-checkout-input-icons {
    pointer-events: none !important;
    position: absolute !important;
    top: 0px !important;
    right: 0px !important;
    height: 100% !important;
    display: flex !important;
    justify-content: flex-end !important;
    align-items: center !important;
    margin-right: 8px !important;
}

.moka-checkout-input-icons-icon {
    pointer-events: none !important;
    margin-left: 8px !important;
}

.moka-checkout-message-container {
    margin-top: 8px !important;
}

.moka-checkout-error-label {
    color: #fa5252 !important;
    font-size: 14px !important;
    line-height: 18px !important;
    font-weight: normal !important;
}

.moka-checkout-card {
    background-color: #ffffff !important;
    margin-top: 16px !important;
}

.moka-checkout-card-header {
    margin: 8px 0px !important;
    line-height: 1.5 !important;
    font-size: 14px !important;
    color: #495057 !important;
}

.moka-checkout-card-body {
    border-radius: 6px !important;
    width: 100% !important;
    box-shadow: 0 0 0 1px #e0e0e0, 0 2px 4px 0 rgba(0, 0, 0, 0.07), 0 1px 1.5px 0 rgba(0, 0, 0, 0.05) !important;
}

.moka-checkout-installment-content {
    padding: 10px !important;
    color: #868e96 !important;
    text-align: center !important;
    line-height: 1.2 !important;
    font-size: 14px !important;
}

.moka-checkout-installment-item {
    display: flex !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    cursor: pointer !important;
    padding: 16px !important;
    width: 100% !important;
    border-bottom: 0.5px solid rgb(224, 224, 224) !important;
}

.moka-checkout-installment-radio-item {
    margin-right: 8px !important;
}

.moka-checkout-installment-text {
    display: flex !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    width: 70% !important;
    font-size: 14px !important;
}

.moka-checkout-installment-cross {
    margin-left: 8px !important;
    margin-right: 8px !important;
}

.moka-checkout-installment-total {
    text-align: right !important;
    width: 30% !important;
    font-size: 14px !important;
}

.moka-checkout-installment-radio-input {
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    opacity: 0 !important;
    padding: 0px !important;
    margin: 0px !important;
}

.moka-checkout-installment-check {
    display: flex !important;
    -webkit-box-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    width: 24px !important;
    height: 24px !important;
    border-radius: 50% !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-color: rgb(206, 212, 218) !important;
    border-image: initial !important;
}

.moka-checkout-installment-radio-input:checked
    + .moka-checkout-installment-check {
    background: rgb(55, 178, 77) !important;
    border-color: rgb(55, 178, 77) !important;
}

.moka-checkout-installment-label {
    width: 70% !important;
    font-size: 14px !important;
}

.moka-checkout-button-container {
    margin-top: 24px !important;
}

.moka-checkout-button {
    background-position: center center !important;
    user-select: none !important;
    display: flex !important;
    -webkit-box-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    cursor: pointer !important;
    width: 100% !important;
    height: 48px !important;
    line-height: 48px !important;
    border-radius: 6px !important;
    opacity: 1 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    outline: none !important;
    padding: 0px !important;
    transition: all 0.3s linear 0s !important;
    border: 1px #164194 !important;
    background-color: #164194 !important;
    color: #ffffff !important;
}

.moka-checkout-button:hover {
    border: 1px #0040d1 !important;
    background-color: #0040d1 !important;
}

.moka-checkout-credit-cards-container {
    display: flex !important;
    margin-top: 24px !important;
    flex-wrap: wrap !important;
    -webkit-box-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: center !important;
    align-items: center !important;
}

.moka-checkout-credit-card {
    height: 16px !important;
    margin: 8px !important;
}
